*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  color: #2B283A;;
}

header {
  color: white;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: .5em;
  padding: 1em 0;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

.entry {
  display: flex;
  max-width: 800px;
  margin: 1.5em auto;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #F5F5F5;
}

.entry-content-section {
  padding: 2em;
  h1 {
    margin-bottom: 1rem;
    size: 1.5rem;
    font-weight: 700;
  }
  .entry-dates {
    margin-bottom: .5rem;
    font-weight: 700;
  }
}

.entry-img-section img {
  display: block;
  max-width:150px;
  min-height:100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.entry-location {
  margin-bottom: .5rem;
}

.entry-location img {
  height: 1rem;
  width: auto;
  margin-right: 0.25rem;
}

.entry-location-name {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-right: 1em;
}

.entry-text {
  font-weight: 400;
  line-height: 150%;
}

a {
  color: #918E9B;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: black
}